.rowNormal {
	margin-bottom: 1.5rem;
	padding-top: 1rem;
}

.changeButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.changeImg {
	display: block;
	margin: auto;
	filter: invert(1);
}