// Override Bootstrap's Sass default variables
//
// Nearly all variables in Bootstrap are written with the `!default` flag.
// This allows you to override the default values of those variables before
// you import Bootstrap's source Sass files.
//
// Overriding the default variable values is the best way to customize your
// CSS without writing _new_ styles. For example, you can either change
// `$body-color` or write more CSS that override's Bootstrap's CSS like so:
// `body { color: red; }`.

//
// Bring in Bootstrap
//

// Option 1
//
// Import all of Bootstrap's CSS

// @import "bootstrap/scss/bootstrap";

// Option 2
//
// Place variable overrides first, then import just the styles you need. Note that some stylesheets are required no matter what.

// Toggle global options
$enable-gradients: true;
$enable-shadows: true;

$offcanvas-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);

// Include functions first
@import "bootstrap/scss/functions";

// Customize some defaults
$body-color: #333;
$body-bg: #fff;
$border-radius: 0.4rem;
$success: #7952b3;

// Required
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";

@import "bootstrap/scss/type";
// @import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
// @import "bootstrap/scss/tables";
// @import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/dropdown";
// @import "bootstrap/scss/button-group";
// @import "bootstrap/scss/nav";
// @import "bootstrap/scss/navbar"; // Requires nav
// @import "bootstrap/scss/card";
// @import "bootstrap/scss/breadcrumb";
// @import "bootstrap/scss/accordion";
// @import "bootstrap/scss/pagination";
// @import "bootstrap/scss/badge";
// @import "bootstrap/scss/alert";
// @import "bootstrap/scss/progress";
// @import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
// @import "bootstrap/scss/toasts";
@import "bootstrap/scss/modal"; // Requires transitions
// @import "bootstrap/scss/tooltip";
@import "bootstrap/scss/popover";
// @import "bootstrap/scss/carousel";
// @import "bootstrap/scss/spinners";
@import "bootstrap/scss/offcanvas"; // Requires transitions
// @import "bootstrap/scss/placeholders";

// Helpers
// @import "bootstrap/scss/helpers";

// Utilities
@import "bootstrap/scss/utilities/api";

//
// Custom styles
//

*{
  
}

@import "icon-list";

body {
  width: 90%; 
  margin: 0 auto;
}

.div-game {
  align-items: center;
  display: flex;
  justify-content: center;
}

#pongCanvas {
  width: 100%;
  height: auto;
}

#gameBackground {
  width: 100%;
  height: 100vh; /* or the desired height */
  background-image: url('src/img/back2.png');
  background-size: cover; /* or other options like contain */
  background-position: center;
  background-repeat: no-repeat;
}

footer {
  flex-shrink: 0;
  width: 100%;
  height: 50px; /* Footer height */
}

/* Custom styling for smaller cards */
.feature-card {
  background-color: #81b1d3;
  color: #8a3a3a;
  margin: 5px; /* Ensures space between cards */
  //all cards need to be together 
}

.card-cover {
  height: 150px; /* Reduced height for smaller display */
  font-size: 0.8rem; /* Smaller text within the card */
  padding: 10px; /* Less padding to fit the smaller area */
  background-size: cover; /* Ensures background image covers the entire card */
}

.card h3 {
  font-size: 1.2rem; /* Smaller heading size */
}

.card ul {
  padding: 0;
  list-style-type: none; /* Removes bullet points from lists */
  margin-top: 10px; /* Positions list closer to the bottom of the card */
}

.card img {
  width: 24px; /* Smaller image size */
  height: 24px;
}

.card svg {
  width: 16px; /* Smaller icon size */
  height: 16px;
}

.game-settings {
  #speedControl {
    width: 90px;
    align-self: left;
    margin-top: 0 !important;
  }
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  margin: 10px;
}

.SelectPlayer {
  display: flex;
  align-items: right;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  margin: 10px;
  padding: 10px;
}

#playerAvatar {
  width: 50px;
  height: 50px;
  background-image: url('src/img/back1.png');
}

