
<div id="login-body" class="login" style="display: none;">
    <div class="login-card">
        <form>
            <label for="username">Username</label>
            <input autocomplete="off" autofocus input type="text" id="username" placeholder="Username" name="username">
            <label for="password">Password</label>
            <input autocomplete="off" autofocus input type="password" id="password" placeholder="Password" name="password">
            <button id="login_B" type="button">Login</button>
            <button id="register_B" type="button">Register</button>
        </form>
    </div>
</div>
