body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f7f7f7;
    background-image: url('/static/transcendence_app/images/loginbackground4.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    margin: 0;
}

.login-card {
    margin-top: 45px;
    position: relative;
    width: 300px;
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    box-sizing: border-box;
    text-shadow: 
        2px 2px 0 white, 
        -2px -2px 0 white,
        -2px 2px 0 white, 
        2px -2px 0 white,
        2px 0 0 white,
        0 2px 0 white,
        -2px 0 0 white,
        0 -2px 0 white;
}

.login-card h2 {
    margin-bottom: 20px;
    text-align: center;
}

.login-card form {
    display: flex;
    flex-direction: column;
}

.login-card input[type="text"],
.login-card input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    
}

.login-card button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    border: none;
    border-radius: 50px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.login-card button + button {
    margin-top: 10px; /* Adjust this value to control the spacing */
}

.login-card button:hover {
    background-color: #0056b3;
} 

