#header {
	padding: 35px;
	border-radius: 10px;
	border: 3px solid #000000;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	box-shadow: 0 4px 8px rgba(0,0,0,0.5);
	margin-left: 2rem;
	margin-right: 2rem;
}

#profilePicture {
	width: 120px;
	height: 120px;
	object-fit: cover;
	border-radius: 50%;
	border: 3px solid #0000ff;
	box-shadow: 0 0 10px #0000ff;
}

#displayName {
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
	padding: 10px 20px;
	border-radius: 10px;
	text-shadow: 2px 2px 2px #000000;
	margin-bottom: 0px;
}

#winsRatio {
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
	padding: 5px 10px;
	border-radius: 10px;
	margin-bottom: 0px;
}

.col {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-content {
    flex-grow: 1;
}

.row-matchHistory {
	background-color: #e3e2e282;
	border-radius: 10px;
	margin-bottom: 1rem;
	/* padding-left: 35px;
	padding-right: 35px; */
}

#matchHistory {
	margin-left: 2rem;
	margin-right: 2rem;
	margin-bottom: 1rem;
	display: none;
}