{% load static %}
<!doctype html>
<html lang="en">
  <link rel="shortcut icon" href="#">
  <script src="{% static 'transcendence_app/js/login.js' %}" defer></script>
  <link href="{% static 'transcendence_app/css/style.css' %}" rel="stylesheet"></link>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
</head>
<form id="loginForm">
  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" id="uname" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" id="psw" required>

    <button type="submit">Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div>
</form>
<a href="http://127.0.0.1:8000/register">Register</a>
</html>