{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap w/ Vite - Pong 42</title>
    <link rel="stylesheet" href="{% static 'pong/css/navbar.css' %}">
  </head>
  <body id="body">
	<!-- Navbar Section -->
	<div id="navbarBody">
		<nav class="navbar navbar-dark bg-dark">
			<div class="container-fluid">
				<div class="navbar-brand  ms-2"  href="#">
					<img src="/static/pong/img/42_Logo.png" alt="Logo" width="40" height="40" class="d-inline-block">
					<span class="ms-2">
						Transcendence Pong
					</span>
				</div>
				<button id="menuOpen" class="navbar-toggler pauseGame noBorder" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
					<div class="offcanvas-header">
						<h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Menu</h5>
						<button id="menuClose" type="button" class="btn-close btn-close-white noBorder" data-bs-dismiss="offcanvas" aria-label="Close"></button>
					</div>
					<div class="offcanvas-body">
						<ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
							<li class="nav-item">
							<button id="homeButton" class="nav-link active">Home</button>
							</li>
							<li class="nav-item">
								<button id="friendsButton" class="btn nav-link dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
									Friends
								</button>
								<ul id="friendsDropdown" class="dropdown-menu">
									<li class="d-flex justify-content-between">
										<h6 id="friendsLabel" class="dropdown-header d-flex align-items-center justify-content-between gap-3" style="font-size: 1.2rem;">User's Friends
										</h6>
										<button id="addFriend" class="btn d-flex align-items-center" type="button" data-bs-toggle="modal" data-bs-target="#addFriendModal" style="padding-right: 1rem;">
											<image class="image-end" height="20" width="20" src="/static/pong/img/add.png" style="filter: invert(1);"></image>
										</button>
									</li>
								</ul>
							</li>
							<li class="nav-item">
								<button id="profileButton" class="nav-link" >Profile</button>
							</li>
							<li class="nav-item">
								<button id="settingsButton" class="nav-link" >Settings</a>
							</li>
							<li class="nav-item">
								<button id="logoutButton" class="nav-link" >Logout</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</nav>

		<!-- Add friend modal -->
		<div id="addFriendModal" class="modal fade" tabindex="-1" aria-labelledby="addFriendModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content rounded-4 shadow gap-2">
					<div class="modal-header border-bottom-0">
						<h1 class="modal-title fs-5" id="addFriendModalLabel">Enter Display Name</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<div class="row align-items-center justify-content-center">
							<div class="col-10">
								<input type="text" class="form-control" id="validationServer01" required>
								<div id="notFound" class="invalid-feedback">
									User not found
								</div>
								<div id="alreadyFriend" class="invalid-feedback">
									User is already your friend
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer flex-column gap-2 pb-3 border-top-0">
						<button id="addFriendFinal" type="button" class="btn btn-lg btn-primary w-50">Add</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script type="module" src="{% static 'pong/js/navbar.js' %}"></script>
  
	</body>
	</html>