{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap w/ Vite - Pong 42</title>
    <link rel="stylesheet" href="{% static 'pong/css/styles.css' %}">

  </head>
  <!-- <style>
    [class*="col"] {
      padding: 1rem;
      background-color: #274869;
      border: 1px solid #dee2e6;
    }
  </style> -->
  <body id="body">
    <nav class="navbar navbar-dark bg-dark" id="navbar">
      <div class="container-fluid">
        <div class="navbar-brand  ms-2"  href="#">
          <img src="/static/pong/img/42_Logo.png" alt="Logo" width="40" height="40" class="d-inline-block">
          <span class="ms-2">
            Transcendence Pong
          </span>
        </div>
        <button id="menuOpen" class="navbar-toggler pauseGame" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Menu</h5>
            <button id="menuClose" type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link pauseGame mb-3 w-20" href="#" data-bs-toggle="modal" data-bs-target="#settingsModal">Settings</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
      
    <button id="debugFill">Auto Fill Keys for Debugging</button>

    <!-- Settings Modal -->
    <div class="modal fade" id="settingsModal" tabindex="-1" aria-labelledby="settingsModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div id="modal-content" class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="settingsModalLabel">Dashboard Settings</h5>
            <button type="button" class="pauseGame btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form>
                <div class="game-settings">
                    <!-- Speed Control -->
                    <label for="speedControl" style="padding-right: 10px;">Speed:</label>
                    <select id="speedControl" class="form-select mt-2">
                        <option value="0.25" selected>0.25x</option>
                        <option value="0.5" selected>0.5x</option>
                        <option value="1" selected>1x</option>
                        <option value="1.5">1.5x</option> <!-- Predefined selection -->
                        <option value="2">2x</option>
                    </select>
                    <!-- AI selection -->
                    <div class="SelectPlayer" style="padding: 10px;">
                      <button id="AiButton" type="button" class="btn btn-light">AI</button>
                      <button id="PlayerButton" type="button" class="btn btn-dark">Player 2</button>
                    </div>
                </div>
              <!-- Theme Selection -->
              <div class="mb-3">
                <label for="themeSelector" class="form-label">Choose Game Theme:</label>
                <select class="form-select" id="themeSelector">
                  <option value="dark">Dark</option>
                  <option value="light">Light</option>
                  <option value="colorful">Colorful</option>
                </select>
              </div>
              
              <!-- Avatar Upload -->
              <div class="mb-3">
                <label for="avatarUpload" class="form-label">Upload Avatar:</label>
                <input type="file" class="form-control" id="avatarUpload" onchange="previewAvatar()" accept="image/*">
                <img id="avatarPreview" src="path_to_default_avatar.jpg" alt="Avatar Preview" class="img-thumbnail mt-2" style="width: 100px; height: auto;">
              </div>
              <canvas id="avatarCanvas" width="200" height="200"></canvas>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" id="saveSettings" class="btn btn-primary">Save Settings</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Game form-->
    <div class="configure_players" id="gameForm">
      <h1>Configure Players</h1>
      <form id="playerForm">
          <p>Choose the number of players bellow</p>
          <input type="number" id="numPlayers" name="numPlayers" min="0" max="100" autocomplete="off" required>
          <div id="playerControls"></div>
          <input type="hidden" id="playerData" name="playerData">
          <input id="controlsButton" type="submit" value="Save Configuration" href="">
      </form>
    </div>

    <!-- Tournament -->
    <div class="container">
      <header>
          <h1>Pong Game Tournament</h1>
      </header>

      <section class="tournament">
          <h2>Tournament Bracket</h2>
          <div class="tournament-setup">
              <input type="text" id="player-name" placeholder="Enter player name">
              <button id="add-player">Add Player</button>
          </div>
          <div class="players-list">
              <h3>Players:</h3>
              <ul id="player-list"></ul>
              <button id="start-tournament">Start Tournament</button>
          </div>
          <div id="bracket"></div>
      </section>
    </div>


        
    <!-- Game -->
    <div class="container-fluid">
      <div class="row text-center justify-content-center gx-2" id="game">
        <div class="col-sm-12 col-md-3 col-xl-3 justify-content-center" id="banner"></div>
        <div class="col-sm-12 col-md-5 col-xl-5 justify-content-center">
                <canvas id="pongCanvas" width="800" height="800"></canvas>
        </div>
        <div class="col-sm-12 col-md-3 col-xl-3 justify-content-top" id="scoreBoard"></div>
      </div>

      <!-- Game CLIENT FOR TESTING-->
      <div class="row" id="clientGame">
        <div class="col" id="clientBanner"></div>
        <div class="col-md-5 text-center">
              <canvas id="clientPong" width="800" height="800"></canvas>
        </div>
        <div class="col" id="clientScoreBoard"></div>
      </div>
    </div>

    <!-- Chat -->
    <!-- Botão para abrir o chat -->
    <button id="chatButton" class="btn btn-primary" data-bs-toggle="button">Live Chat</button>
    <!-- Janela de Chat -->
    <div id="chatWindow" class="chat-window">
      <div class="chat-sidebar" id="chatSideBar">
        <!-- Adicione mais botões conforme necessário -->
      </div>
      <div class="chat-main">
        <div class="chat-header">
          <span id="chatHeader">Live Pong Chat</span>
        </div>
        <div class="chat-body" id="chatBody">
          <!-- Conteúdo do chat vai aqui -->
        </div>
        <div class="chat-footer">
          <input type="text" placeholder="Type a message..." id="chatInput" />
          <button id="sendChatButton"> Send </button>
        </div>
      </div>
    </div>

    <form id="playerForm">
      <p>Choose the number of players below</p>
      <input type="number" id="numPlayers" name="numPlayers" min="0" max="100" autocomplete="off" required>
      <div id="playerControls"></div>
      <input type="hidden" id="playerData" name="playerData">
      <input id="controlsButton" type="submit" value="Save Configuration">
    </form>

    <!-- Footer Section -->
    <footer class="py-3 my-4">
        <p class="text-center text-muted">© The Best Transcendence of 2024, Inc</p>
    </footer>
  </body>

  <script type="module" src="{% static 'pong/js/main.js' %}"></script>
  <script type="module" src="{% static 'pong/js/game.js' %}"></script>
  <script type="module" src="{% static 'pong/js/local_menu.js' %}"></script>
  <script type="module" src="{% static 'pong/js/chat.js' %}"></script>
  <script type="module" src="{% static 'pong/js/tournament.js' %}"></script>



  </body>
  </html>
  