{% load static %}

<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>ft_transcendence</title>
<link rel="stylesheet" href="{% static 'pong/css/home.css' %}">
</head>
<body id="body">
	<!-- Home page -->
	<div id="homeBody" class="container main-content">
		<div class="row justify-content-center align-items-center" style="margin-bottom: 5rem; margin-top: 4rem;">
			<h1 class="display-1 text-center">Welcome to Pong</h1>
		</div>
		<div class="displayDiv">
			<div class="row justify-content-center gap-3" style="margin-bottom: 1rem;">
				<button id="playOnline" type="button" class="btn btn-outline-dark w-25 bodyBtns">Play online</button>
			</div>
			<div class="row justify-content-center gap-3" style="margin-bottom: 3rem;">
				<button id="playLocal" type="button" class="btn btn-outline-dark w-25 bodyBtns">Play local</button>
			</div>
		</div>
	</div>
	
	

<script type="module" src="{% static 'pong/js/home.js' %}"></script>

</body>
</html>