{% load static %}

<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Bootstrap w/ Vite - Pong 42</title>
<link rel="stylesheet" href="{% static 'pong/css/game.css' %}">
<link rel="stylesheet" href="{% static 'pong/css/styles.css' %}">
</head>
<body id="body">
	<div class="container-fluid">
		<div class="row text-center justify-content-center gx-2" id="game">
			<div class="col-sm-12 col-md-3 col-xl-3 justify-content-center" id="banner"></div>
			<div class="col-sm-12 col-md-5 col-xl-5 justify-content-center">
					<canvas id="pongCanvas" width="800" height="800"></canvas>
			</div>
			<div class="col-sm-12 col-md-3 col-xl-3 justify-content-top" id="scoreBoard"></div>
		</div>
	</div>
<script type="module" src="{% static 'pong/js/game.js' %}"></script>
</body>
</html>