{% load static %}

<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Bootstrap w/ Vite - Pong 42</title>
<link rel="stylesheet" href="{% static 'pong/css/game.css' %}">
<link rel="stylesheet" href="{% static 'pong/css/styles.css' %}">
</head>
<body id="body">
	<div id="tournamentBody">
		
		<!-- Name form -->
		<div id="nameForm" class="container">
			<h1 class="display-1 text-center">Enter Player Names</h1>
			<form id="playerNamesForm" class="card">
				<div class="card-body">
					<!-- Section for entering the number of players -->
					<div style="margin-bottom: 10px;" class="form-group ">
						<div class="input-group mb-3 align-items-center">
							<span style="font-size: 1.2rem; padding-right: 1rem;" class="display-1 text-center" id="inputGroup-sizing-default" autocomplete="off" required>Enter the Number of Players</span>
							<input type="number" id="numberOfPlayers" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
						</div>
						
						<!-- <input type="number" id="numberOfPlayers" class="form-control" placeholder="Enter number of players"> -->
						<button type="button" id="nb_button" class="btn btn-outline-dark w-10 bodyBtns" style="font-size: 1rem;">Set Players</button>
					</div>
					<!-- Container for dynamic player name inputs -->
					<div id="inputContainer" class="form-group"></div>
					<button id="submitNames" type="button" style="font-size: 1rem;" class="btn btn-outline-dark w-10 bodyBtns align-items-center">Submit</button>
				</div>
			</form>
		</div>

		<!-- Game form-->
		<div class="configure_players" style="display: none;" id="gameForm">
			<h1 class="display-1" style="font-size: 3rem;" >Configure Players</h1>
			<form id="playerForm"> 
				<!-- <p>Choose the number of players bellow</p> -->
				<!-- <input type="number" id="numPlayers" name="numPlayers" min="0" max="20" autocomplete="off" required> -->
				<!-- <input class="display-1" style="font-size: 1rem;" id="numPlayers"></input> -->
				<div class="display-1" style="font-size: 1rem;" id="playerControls"></div>
				<!-- <input type="hidden" id="playerData" name="playerData"> -->
				<!-- <div class="row d-flex justify-content-center"> -->
				<button class="btn btn-outline-dark bodyBtns" id="controlsButton" type="button">Save Configuration</button>
				<!-- </div> -->
			</form>
		</div>


		<!-- Game -->
		<div class="container-fluid">
			<div class="row text-center justify-content-center gx-2" id="game">
				<div class="col-sm-12 col-md-3 col-xl-3 justify-content-center" id="banner"></div>
				<div class="col-sm-12 col-md-5 col-xl-5 justify-content-center">
						<canvas id="pongCanvas" width="800" height="800"></canvas>
				</div>
				<div class="col-sm-12 col-md-3 col-xl-3 justify-content-top" id="scoreBoard"></div>
			</div>
	
			<!-- Game CLIENT FOR TESTING-->
			<!-- <div class="row" id="clientGame">
			<div class="col" id="clientBanner"></div>
			<div class="col-md-5 text-center">
					<canvas id="clientPong" width="800" height="800"></canvas>
			</div>
			<div class="col" id="clientScoreBoard"></div>
			</div> -->
		</div>
	</div>

<script type="module" src="{% static 'pong/js/namesForm.js' %}"></script>
</body>
</html>