{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap w/ Vite - Pong 42</title>
    <link rel="stylesheet" href="{% static 'pong/css/profileSettings.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'pong/css/navbar.css' %}"> -->
    <link rel="stylesheet" href="{% static 'pong/css/footer.css' %}">
  </head>
  <body id="body">

	  <!--  -->

	  <!-- Profile Settings page -->
    <div id="settingsContainer" page="/settings/" class="container main-content" style="margin-top: 3rem;">
		<div class="row justify-content-start"  style="margin-bottom: 2rem;">
			<div class="col">
				<h1>Profile Settings</h1>
			</div>
		</div>
		<div class="row justify-content-start rowNormal">
			<div id="colUsername" class="col d-flex align-items-center gap-3">
				<h5 class="mb-0">Username:</h5>
        <div class="displayDiv d-flex align-items-center gap-3">
          <h5 id="username" class="mb-0">Username Example</h5>
          <button id="changeUsername" class="btn btn-dark rounded-circle p-2 lh-1 changeButton" type="button">
            <svg class="bi" width="16" height="16"><image class="changeImg" width="16" height="16" xlink:href="/static/pong/img/refresh.png"></image></svg>
          </button>
        </div>
			</div>
		</div>
		<div class="row justify-content-start rowNormal">
			<div class="col d-flex align-items-center gap-3">
				<h5 class="mb-0">Display Name:</h5>
        <div class="displayDiv d-flex align-items-center gap-3">
          <h5 id="displayName" class="mb-0">Display Name Example</h5>
          <button id="changeDisplayName" class="btn btn-dark rounded-circle p-2 lh-1 changeButton" type="button">
            <svg class="bi" width="16" height="16"><image class="changeImg" width="16" height="16" xlink:href="/static/pong/img/refresh.png"></image></svg>
          </button>
        </div>
			</div>
		</div>
		<div class="row justify-content-start rowNormal">
			<div class="col d-flex align-items-center gap-3">
				<h5 class="mb-0">Password:</h5>
        <div class="displayDiv d-flex align-items-center gap-3">
          <button id="changePassword" class="btn btn-dark rounded-circle p-2 lh-1 changeButton" type="button">
            <svg class="bi" width="16" height="16"><image class="changeImg" width="16" height="16" xlink:href="/static/pong/img/refresh.png"></image></svg>
          </button>
        </div>
			</div>
		</div>
    <div class="row justify-content-start rowNormal">
			<div class="col d-flex align-items-center gap-3">
				<h5 class="mb-0">Up key:</h5>
        <div class="displayDiv d-flex align-items-center gap-3">
          <h5 id="upKey" class="mb-0">w</h5>
          <button id="changeUpKey" class="btn btn-dark rounded-circle p-2 lh-1 changeButton" type="button">
            <svg class="bi" width="16" height="16"><image class="changeImg" width="16" height="16" xlink:href="/static/pong/img/refresh.png"></image></svg>
          </button>
        </div>
			</div>
		</div>
    <div class="row justify-content-start rowNormal">
			<div class="col d-flex align-items-center gap-3">
				<h5 class="mb-0">Down key:</h5>
        <div class="displayDiv d-flex align-items-center gap-3">
          <h5 id="downKey" class="mb-0">s</h5>
          <button id="changeDownKey" class="btn btn-dark rounded-circle p-2 lh-1 changeButton" type="button">
            <svg class="bi" width="16" height="16"><image class="changeImg" width="16" height="16" xlink:href="/static/pong/img/refresh.png"></image></svg>
          </button>
        </div>
			</div>
		</div>
		<div class="row justify-content-start rowNormal">
			<div class="col d-flex align-items-center gap-3">
				<h5 class="mb-0">Profile Picture:</h5>
        <div class="displayDiv d-flex align-items-center gap-3">
          <svg class="bd-placeholder-img img-thumbnail" width="100" height="100" xmlns="http://www.w3.org/2000/svg" role="img" preserveAspectRatio="xMidYMid slice" focusable="false" style="margin: 1rem;"><image id="profilePicture" href="/static/pong/img/p1.png" x="0" y="0" width="100" height="100"></svg>
          <button id="changeProfilePicture" class="btn btn-dark rounded-circle p-2 lh-1 changeButton" type="button">
            <svg class="bi" width="16" height="16"><image class="changeImg" width="16" height="16" xlink:href="/static/pong/img/refresh.png"></image></svg>
          </button>
        </div>
			</div>
		</div>
		<div class="row justify-content-start rowNormal">
			<div class="col d-flex align-items-center gap-3">
				<h5 class="mb-0">Banner:</h5>
        <div class="displayDiv d-flex align-items-center gap-3">
          <svg class="bd-placeholder-img img-thumbnail" width="200" height="200" xmlns="http://www.w3.org/2000/svg" role="img" preserveAspectRatio="xMidYMid slice" focusable="false" style="margin: 1rem;"><image id="profileBanner" href="/static/pong/img/banner.jpeg" x="0" y="0" width="200" height="200"></image></svg>
          <button id="changeBanner" class="btn btn-dark rounded-circle p-2 lh-1 changeButton" type="button">
            <svg class="bi" width="16" height="16"><image class="changeImg" width="16" height="16" xlink:href="/static/pong/img/refresh.png"></image></svg>
          </button>
        </div>
			</div>
		</div>
	  </div>

	  
      
  <script type="module" src="{% static 'pong/js/profileSettings.js' %}"></script>
  <!-- <script type="module" src="{% static 'pong/js/navbar.js' %}"></script> -->
  
  </body>
  </html>
  